body{
    background: color #b3dee5;
    background-image: -webkit-repeating-linear-gradient(#a2c5ce,#b3dee5);
    font-family : monospace;
    
    margin: 0%;
    padding: 0%;
}

h1{    
    color: #31525b;    
}
.gameTitle{

    font-style:initial;
    font-size: 30px;
    color: #31525b;
}

header{    
    display: flex;    
    justify-content: space-between;
    align-items: center;
    
    align-content: center;

    width:100%;
    height:8%; 
    position :fixed;

    z-index: 9999;
    /* #31525b  #FAE6B1*/
    background-color: #31525b;
    /* background-image: linear-gradient(#FFA101, #31525b91);     */

    box-shadow: 10px 10px 5px #b3dee57e;       
}
.header-logo{
    /* justify-self: left; */
    
    background-color:pointer;
    /* flex-shrink: 0; */

    margin-left: 5%;  
    /* padding-left: 100px; */
}

li{
    
    margin-right: 10px;    
    display:inline-block;
    /* padding-right: 15px ; */
}

.shadow
{	                
    box-shadow: 10px 10px 5px #b3dee57e;          
}        


/*按鈕*/
.button {
    border: none;
    /* color: #FAE6B1; */
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;    
}
.button1 {    
    background-color:#31525b; 
    color: #b3dee5 ; 
    border: 2px solid #b3dee5 ;
    right: 0;
}
.button2 {    
    background-color:#7d8e95; 
    color: #b3dee5 ; 
    border: 2px solid #b3dee5 ;
    right: 0;
}

.button-footer {
    background-color: #b3dee5; 
    color: #b3dee5 ; 
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 15px;
    cursor: pointer;
    border-radius: 60px;
    
    right: 0;
}


.flexbox-container{        
    display: flex;
    justify-content: center;
}
.flexbox-item{
    width: 500px;
    margin: 30px;
}
.flexbox-item-1{
    min-height: 100px;
}
.flexbox-item-2{
    min-height: 20px;
    /* flex-grow: 1; */
}

.flexbox-item-gameContainer{    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    background-color: #7d8e95;
    min-width: 70%;
    min-height: 500px;    
}
.flexbox-gameTitle{
    
    background-color: rgb(141, 132, 115);
    width: 500px;    
    min-height: 50px;
}
.flexbox-gameItem{   
    margin: 10px;
    
    width: 60%;
    min-height: 20px;
}
.flexbox-gameIntroductionItem{
    width: 20%;
    margin: 10px;

    justify-content: center;
    
    display: flex;
    align-items: center;
}
.flexbox-gameIntroductionItem1{
    justify-content:flex-end; 
}
.flexbox-gameIntroductionItem2{
    width: 20%;
    color: #ffbb98;

}
.flexbox-gameIntroductionItem3{
    justify-content:flex-start; 
}
.flexbox-gameIntroductionContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    
}



.footer{
    display: flex;
    justify-content:center;
    height: 100px; /*設定footer本身高度*/    
    background-color: #344648;
}

/* --------- */
.button1:hover {
background-color: #b3dee5 ;
color: #31525b;
}

.button2:hover {
    background-color: #ffffff ;
    color: #7d8e95;    
}

.button-footer:hover {
    background-color: #ffbb98 ;
    color: #31525b;    
}

table.center {
    margin-left: auto; 
    margin-right: auto;            
}    

/*Button*/
.container {
    position: relative;
    width: 100%;
}

.image {
    display: block;
    
    justify-content: center;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffbb98;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: #ffffff;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}